.logo {
    display: block;
    margin: auto;
    width: 110px;
}

.senna {
    width: 300px;
    height: 200px;
}

.carro {
    width: 300px;
    height: 200px;
}

.ayrton {
    margin: 15px auto;
    width: 200px;
    height: 300px;
}

.kart {
    width: 300px;
    height: 200px;
}

.banner {
    width: 300px;
    height: 200px;
}

ul {
    padding-left: 16px;
}

p::first-letter {
    font-size: 200%;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

footer {
    font-size: 11px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: #002776;
    text-decoration: underline;
}

h1, h2 {
    color: #002776;
    text-decoration: underline;
    text-align: center;
}

p, label, li, table, caption, th, td {
    color: #222222;
}

tbody tr:first-child td {
    color: #ffcc00;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    color: #ffcc00;
    font-weight: bold;
}

fieldset label:nth-of-type(odd) {
    color: #ffcc00;
}

fieldset label:nth-of-type(even) {
    color: #1f8a3b;
}


